<p id="notice"><%= notice %></p>

<h1>Qu'est ce qu'on mange ?</h1>

<%= form_tag show_path, method: :get do %>
  <h4>Ingredients:</h4>
  <%= text_field_tag("ingredient[]", nil, required: true)  %>
  <%= text_field_tag("ingredient[]") %>
  <%= text_field_tag("ingredient[]") %>

  <h4>Nombre de personnes</h4>
  <%= select_tag "people", options_for_select(@people_quantity), include_blank: true %>

  <h5>Affiner ma recherche</h5>
  <%= text_field_tag("tag") %>

  <%= submit_tag 'Chercher' %>
<% end %>

<br>
