<p id="notice"><%= notice %></p>

<h1>Qu'est ce qu'on mange ?</h1>

<%= form_tag recipes_path, method: :get do %>
<div id="ingredients">
  <%= label_tag 'Ingredients' %>
  <%= text_field_tag("ingredient[]", nil, required: true)  %>
  <%= text_field_tag("ingredient[]") %>
  <%= text_field_tag("ingredient[]") %>
</div>

  <%= link_to 'Ajouter un ingrédient', '#', id: 'add_ingredient', onclick: 'addFields()', remote: true %>

<div class="people">
  <%= label_tag 'Nombre de personnes' %>
  <%= select_tag "people", options_for_select(@people_quantity), include_blank: true %>
</div>

<div class="tags">
  <%= label_tag 'Affiner ma recherce' %>
  <%=  autocomplete_field_tag 'tag', '', autocomplete_tag_name_recipes_path %>
</div>

  <%= submit_tag 'Chercher' %>
<% end %>

<br>
