<p id="notice"><%= notice %></p>

<h1>Recipes</h1>
<h3>Ingredients:</h3>

<%= form_tag show_path, method: :get do %>
  <%= text_field_tag("ingredient[]") %>
  <%= text_field_tag("ingredient[]") %>
  <%= text_field_tag("ingredient[]") %>
  <%= submit_tag 'Chercher' %>
<% end %>

<br>
